* {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
    font-family: inherit;
    box-sizing: border-box;
}

ol,
ul,
li {
    list-style: none;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

button,
a {
    cursor: pointer;
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}

:root {
    --primary: #f8f7f3;
    --secondary: #1a24fb;
    /*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Overpass', sans-serif;
    */
}

.topnav{
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 100;
    position: fixed;
}
.brand{
    flex: 85%;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em; 
    font-weight: 400;
    font-size: 12px;
}
.material-icons{
    flex: 15%;
    text-align: right;
}
.contentContainer{
    padding-top: 40px;
    max-width: 1280px;
}
.cards{
    display: flex;
}